body {
    font-family: $font-apfel;
    font-style: normal;
}

.h1 {
    font-family: $font-sinistre;
    font-size: 3.25rem;
    line-height: 1.2;
}

.eyebrow {
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 0.1rem;
    margin: 0;
}