@import "1-variables";

.header {
    align-items: center;
    border-top: 1px solid;
    border-bottom: 1px solid;
    padding: 1.25rem 0;
    padding-left: $column-gap + px;
    padding-right: $column-gap + px;
    margin-top: 1rem;
    
    .header__logo img {
        max-width: 140px;
        height: auto;
    }

    .header__nav {
        justify-self: end;
    }
}

/**
 * Desktop Site Nav 
 */
@media screen and (min-width: 800px) {
    #siteNavToggle,
    .site-nav__expand-toggle {
        display: none;
    }

    .site-nav {
        list-style: none;
        display: grid; 
        grid-auto-flow: column; 
        grid-auto-columns: auto; 
        grid-template-rows: 1fr; 
        gap: 0px 3.125rem; 
        margin: 0;
        padding: 0;

        > li {
            display: inline-block;

            a {
                position: relative;
                font-size: 1.25rem;
                text-decoration: none;

                &[aria-current="page"]:before {
                    content: '';
                    background-image: url('../images/page-marker.svg');
                    position: absolute;
                    height: 103px;
                    width: 19px;
                }
            }
        }

        /* subnavs */
        >li[aria-haspopup=true] {
            position: relative;

            .site-nav__sub-nav {
                display: none;
                position: absolute;
                list-style: none;
                margin: 0;
                padding: 0;
            }

            &:hover,
            &:focus-within {
                > .site-nav__sub-nav {
                    display: block;
                }
            }
        }


    }
}

/**
 * Mobile Site Nav 
 */
@media screen and (max-width: 800px) {
    .site-nav {
        list-style: none;
        display: none; 

        &.site-nav--open {
            display: block;
        }

        > li {
            display: block;
        }

        .site-nav__sub-nav {
            display: none;

            &.site-nav__sub-nav--open {
                display: block;
            }
        }
    }
}