@import "1-variables";

.page-header {
    .page-header__deco {
        font-family: $font-sinistre;
        font-size: 16rem;
        position: relative;

        span {
            position: absolute;
        }
        
        span:first-child {
            color: $color-forest;
        }

        span:last-child {
            color: $color-berry;
        }
    }
}