@import "1-variables";

.page-header {
    .page-header__deco {
        font-family: $font-sinistre;
        font-size: 10rem;
        
        span:first-child {
            color: $color-forest;
        }
    }
}