@import "1-variables";

.page-header {
    .page-header__deco {
        font-family: $font-sinistre;
        font-size: 256px;
        position: relative;

        span {
            position: absolute;
        }
        
        span:first-child {
            color: $color-forest;
            left: -$margin - 7px;
            top: -17px;
        }

        span:last-child {
            color: $color-berry;
            left: -$margin - 10px;
            top: -20px;
        }
    }

    h1 {
        margin-bottom: 0;
    }
}