/* ~~~~~~~~~~~~~~~~~~~~~ layout.scss */
$column-count: 12; 
$column-count-m: 9; 
$column-count-s: 4; 
$margin: 60;
$margin-m: 40;
$margin-s: 20;
$column-gap: 20;

/* ~~~~~~~~~~~~~~~~~~~~~ theme colors */